.header{
    background-color: aquamarine;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #111;
}
.btn{
    background-color: #111;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}